html {
	font-family: 'Oswald', sans-serif;
	/*PREGUNTA*/
}

body {

	background-color: #3366FF;
}

header {

	border-bottom: 1px solid #9a9a9a;
	height: 6px;
	margin-left: 5 auto;
	margin-rigth: 5 auto;
	opacity: 0.3;
	padding: 70px 20px 60px 60px; /*PREGUNTA*/
	position: inherit;
	width: 800%;
}

nav {
	margin-left: 200px;
	margin-right: 200px;

}

h1 {
	color: #FFCCFF;
	display: inline-block;
	float: left;
	margin-left: 2px; 
	margin-right: 2px;
}
h2 {
	color: white;
	display: inline-block;
	float: left;
	margin-left: 8px; 
	margin-right: 10px;
	width: 8px;
}

header ul a{
	background-color: #66cc99;
	border: 2px solid #339900;
	color: #000 ;
	padding: 15px;
}

ul a {
	background-color: #33ff00;
	border-color: #330066;
	border-radius: 200px;
	color: #003300;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	text-decoration: none;

}

section{
	clear: right;
}
article{
	margin-left: 2px;
	margin-right: 10px;
}
.container{
	background-color: #CC66FF;
	border-radius:35px;
	box-shadow: 1px 1px 1px blue; 
	float: left;
	margin-bottom: 500px;
	padding: 8px;
	text-align: justify;
	width: 100px;
}

.top a{
	text-decoration: none;
}

footer{
	background-color: #990033;
	clear: both;
	margin-top: 30px;
	padding: 10px;
}


